.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;

  h5 {
    color: #1E75FF;
    font-weight: 500;
  }

  .video-detail {
    display: flex;
    flex-direction: column;

    .tags {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 2em;
      margin-bottom: 0.8em;

      .heart-icon {
        font-size: 1.5em;
      }

      .bookmark-icon {
        cursor: pointer;

        &:hover {
          color: whitesmoke;
          font-size: larger;
        }
      }
    }

    .favorite-message {
      p {
        margin: 0px 30%;
      }
    }

    //https://www.w3schools.com/howto/howto_css_responsive_iframes.asp
    .vid-frame {
      position: relative;
      overflow: hidden;
      width: 100%;
      padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */

      .responsive-iframe {
        border: none;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
      }
    }

    .details {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0;

      .video-channel {
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        width: 80%;

        .channel-logotype {
          aspect-ratio: 1/1;
          background-size: cover;
          background-position: center;
          border: 2px solid white;
          border-radius: 1000rem;
          max-width: 60px;
          min-width: 20px;
          right: 1rem;
          width: 100%;
        }

        h4 {
          margin-top: 0.1rem;
          margin-left: 1rem;
          margin-bottom: 0;
        }

        p {
          margin-top: 0.1rem;
          margin-left: 1rem;
          margin-bottom: 0;
          //position: center;
          color: #b6b1b1;
        }
      }
    }

    .description-box {
      background-color: #1C1C24;
      border-radius: 20px;
      padding: 18px 30px;

    }
  }

  .suggestion-container {
    border-radius: 20px;
    padding: 0 0 0 25px;
    margin-top: 10px;

    h4 {
      margin-bottom: 20px;
    }
  }

  &.playlist {
    .suggestion-container {
      display: none;
    }
  }
}


@media (max-width: 500px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: auto;

    .video-detail {
      width: 100%;
    }

    .suggestion-container {
      width: 100%;

    }
  }
}

@media only screen and (min-width: 500px) and (max-width: 992px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    //width: 90%;
    margin-right: 0;

    .video-detail {
      width: 100%;
    }

    .suggestion-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      app-contentcard {
        width: 50%;
      }

    }
  }
}



