<div class="wrapper" [ngClass]="type">
  <div class="video-detail" *ngIf="video">
    <h2>{{video.name}}</h2>

    <div class="tags">
      <h5>{{getHashtag(video.field_media_tags)}}</h5>
      <span class="bookmark-icon" (click)="uploadService.toggleFavoriteVideo(video.mid)">
      <fa-icon [icon]="uploadService.isFavoriteVideo(video.mid)? faBookmarkFull : faBookmark" class="fa-xl"></fa-icon>
    </span>
    </div>

    <div class="vid-frame">
      <iframe class="responsive-iframe" [src]="video_url" title="YouTube video player"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
    </div>
    <div class="details">
      <div class="video-channel">
        <div *ngIf="video.field_logotype" class="channel-logotype"
             style="background-image: url('https://dev-project-upskill2-grupo4v2.pantheonsite.io{{video.field_logotype}}');">
        </div>
        <div>
          <h4>{{video.title}}</h4>
          <p>{{video.created}}</p>
        </div>
      </div>
      <app-like
        [id_video]="video.mid">
      </app-like>
    </div>

    <p class="description-box">
      {{video.field_description || "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."}}
    </p>
    <div class="comments-section">
      <app-comments [entityType]="mediaEntityType"
                    [contentID]="id">
      </app-comments>
    </div>
  </div>

  <!-- Right side bar is suggesting more of the latest videos: -->
  <div class="suggestion-container">
    <h4>Suggestions</h4>
    <app-contentcard type="video-compact" *ngFor="let cv of channelVideos| slice:0:4"
                     [title]=" cv.name"
                     [source]=" cv.title"
                     [subtitle]=" cv.created"
                     [mid]=" cv.mid"
                     [field_media_tags]=" cv.field_media_tags"
                     [image]=" cv.thumbnail__target_id"
                     [logotype]=" cv.field_logotype"
                     [field_duration]=" cv.field_duration"
                     [field_media_oembed_video]=" cv.field_media_oembed_video"
                     [routerLink]="['/video-detail', cv.view_media.split('/').slice(-1)[0]]"
    ></app-contentcard>
  </div>
</div>




