<div class="video-detail-container">
  <div class="vid-detail-box" *ngIf="video">
    <h1>
      {{video.name}}
    </h1>
    <h5>
      #{{video.field_media_tags}}
    </h5>
    <iframe width="560" height="315" [src]="video_url" title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    <p>
      NatGeo Alunos
    </p>
    <p>
      {{video.created}}
    </p>
    <p>
      {{video.field_categories}}
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu mi maximus, aliquam erat ac, commodo ligula. Maecenas pellentesque pellentesque lorem eget egestas. In mattis lacinia nisi id dictum. Curabitur bibendum quam sed convallis pulvinar. Fusce mattis bibendum consequat. Vestibulum sed urna eu ante dictum interdum. Donec porttitor turpis ac consequat tempus. Vestibulum at ex lobortis, aliquam mauris nec, bibendum velit. Maecenas eu metus varius, hendrerit quam nec, tempor purus.
    </p>
  </div>

  <div class="vid-suggested-box">
    <p>
      Por aqui 1 ou 2 suggested videos (quais? same tags?)
    </p>
  </div>

</div>


