.container {
  background-color: #292932;
  padding: 6px;
  border-radius: 12px;
  width: 100%;

  h4 {
    padding-bottom: 10px;
    border-bottom: 1px solid darkgray;
  }

  .suggestion-list p {
  }

  .suggestion-footer {
  }
}
