.container {

  .suggestion-list {
    display: flex;
    padding-top: 3px;
    padding-left: 6px;

    &:hover {
      //background-color: #15151a;
      transform: scale(1.01);
      font-weight: bold;
    }

    div.suggestion-thumbnail {
      display: flex;
      justify-content: center;
      width: 50px;
      height: 50px;
      margin: 6px;

      div {
        display: block;
        background-size: cover;
        width: 100%;
        border-radius: 50%;
        padding-bottom: 57%;
        background-position: center;
        cursor: pointer;
      }
    }

    .suggestion-element {
      display: flex;
      align-items: center;
      margin: 7px;
      cursor: pointer;
    }
  }
}


