.container {

  .suggestion-list {
    display: flex;

    div.suggestion-thumbnail {
      display: flex;
      justify-content: center;
      width: 50px;
      height: 50px;
      margin: 6px;

      div {
        display: block;
        background-size: cover;
        width: 100%;
        border-radius: 50%;
        padding-bottom: 57%;
        background-position: center;
      }
    }

    .suggestion-element {
      display: flex;
      align-items: center;
    }
  }
}


