<div class="card-container">
  <div class="card-info">
    <h4>{{type}}</h4>
    <p [routerLink]="routerLink" >SEE ALL</p>
  </div>
  <div class="card-thumbnail">
    <img src="https://dev-project-upskill2-grupo4v2.pantheonsite.io{{field_thematic_thumbnail}}">
    <div class="thumbnail-title">
      <h6>{{title}}</h6>
      <p>{{uid}}</p>
    </div>
  </div>
  <div class="card-image">
    <img src="https://dev-project-upskill2-grupo4v2.pantheonsite.io{{field_thematic_header_image}}">
  </div>
</div>
