.container {
  font-size: 9px;
  color: darkgray;
  flex: 1;
  text-align: center;

  a {
    text-decoration: none;
    color: white;
    curso: pointer;

    &:hover {
      font-weight: bold;
      color: #dc2f31;
    }
  }
}


