<div class="wrapper">
  <div class="main-section">
    <h2>Latest Videos</h2>

    <div>
      <input placeholder="Search" class="search" (change)="changeSearch($event)">
    </div>

<!--    <div class="autocomplete-search">
      <div *ngIf="allVideos">
        <ng-autocomplete
          [data]="allVideos"
          [searchKeyword]="keyword" (change)="changeSearch($event)"
          [itemTemplate]="itemTemplate"
          [notFoundTemplate]="notFoundTemplate"
          placeholder="Search video name..."
        ></ng-autocomplete>

        <ng-template #itemTemplate let-item>
          <a [innerHTML]="item.name"></a>
        </ng-template>

        <ng-template #notFoundTemplate let-notFound>
          <div [innerHTML]="notFound"></div>
        </ng-template>
      </div>
    </div>-->

    <div class="pagination">
      <div class="page-item">
        <a class="page-link" (click)="pageSelected('Previous')"><fa-icon [icon]="faAngleLeft"></fa-icon></a>
      </div>
      <div class="page-number" *ngIf="pNum">
        <a class="page-link" (click)="pageSelected(pNum)"> {{pNum + 1}}</a>
      </div>
      <div class="page-item">
        <a class="page-link" (click)="pageSelected('Next')"><fa-icon [icon]="faAngleRight"></fa-icon></a>
      </div>
    </div>

    <div class="latest-video-container">
                  <app-contentcard class="video-card" type="video" *ngFor="let lv of latestVideos"
                                   [source]="lv.title"
                                   [title]="lv.name"
                                   [subtitle]="lv.created"
                                   [field_duration] = "lv.field_duration"
                                   [mid]="lv.mid"
                                   [field_media_tags]="lv.field_media_tags"
                                   [image]="lv.thumbnail__target_id"
                                   [logotype]="lv.field_logotype"
                                   [field_media_oembed_video]="lv.field_media_oembed_video"
                                   [routerLink]="['/video-detail', lv.name]"
                                   [uid]="lv.uid"
                  ></app-contentcard>
    </div>
  </div>

  <div class="right-sidebar">
    <div class="suggestion-card">
      <h4>Newest thematic</h4>
      <app-suggestioncard *ngIf="thematics"
                          [title]=thematics[0].title
                          [uid]=thematics[0].uid
                          [field_thematic_header_image]=thematics[0].field_thematic_header_image
                          [field_thematic_thumbnail]=thematics[0].field_thematic_thumbnail
                          [routerLink]="['/thematic', thematics[0].nid]"
      ></app-suggestioncard>
    </div>

    <div class="suggestion-list-card">
      <h4>Newest channels</h4>
      <app-suggestionlist *ngFor="let c of channels| slice:0:5"
                          [listThumbnail]="c.field_logotype"
                          [listElement]="c.title"
                          [routerLink]="['/channel', c.nid]"
      ></app-suggestionlist>
      <h3 routerLink="/channels">SHOW MORE</h3>
    </div>
  </div>

</div>

