.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  position: relative;

  .main-section {
    max-width: 72%;

    .searchbar {
      width: 80%;
      margin: 0 auto;
    }

    h2 {
      margin-bottom: 0;
    }

    /*
       .ng-autocomplete .autocomplete-container .input-container input{
         font-size: 14px;
         box-sizing: border-box;
         border: 1px solid #979797;
         border-radius: 20px;
         box-shadow: none;
         outline: none;
         background-color: #000;
         color: #262525;
         width: 100%;
         padding: 0 15px;
         line-height: 40px;
         height: 40px;
       }*/

    .pagination {
      display: flex;
      justify-content: space-between;
      margin-right: 30%;
      margin-left: 30%;
    }

    .autocomplete-search, .search {
      margin: 10px;
      height: 30px;
      border-radius: 10px;
      position: center;
      width: 100%;
      justify-content: center;
      background-color: #262525;
      font-size: medium;
      color: #FFFFFF;
    }

    /*    ng-autocomplete input {
          background-color: #1C1C24 !important;
        }*/

    .latest-video-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }

  }

  .right-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;

    .suggestion-list, .suggestion-card {
      background-color: #1C1C24;
      margin: 10px;
      border-radius: 15px;
      width: 320px;

      .suggestion-card-header, .suggestion-list-header {
        display: flex;
        border-bottom: 1px solid darkgray;
        align-items: center;
        margin-bottom: 0;
        padding: 10px 16px;

        h4 {
          width: 80%;
        }

        div {
          font-weight: bold;
        }
      }

      h3 {
        margin-bottom: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: 1px solid darkgray;
        text-align: center;
      }
    }
  }
}

@media only screen and (max-width: 700px) {

  .wrapper {
    display: flex;
    flex-direction: column;


    .main-section {
      width: 100%;
      position: static;
      margin: 0 auto;

    }

    .right-sidebar {
      position: static;
    }
  }

}
