.wrapper {
  display: flex;
  width: 100%;

  .container {
    width: 65%;
    h2 {
      margin-left: 23px;
      margin-bottom: 0px;
    }

    .pagination {
      display: flex;
      justify-content: space-between;
      margin-right: 30%;
      margin-left: 30%;
    }

    .search {
      margin-left: 23px;
      margin-top: 10px;
      height: 30px;
      border-radius: 10px;
    }

    .latest-video-container {
      .latest-video {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
  }


    .sidebar {
      width: 35%;

      display: flex;
      flex-direction: column;

      .last-seen-container {
        background-color: #1C1C24;
        border-radius: 15px;
        margin: 23px;

        .card-info {
          display: flex;
          justify-content: space-between;
          border-bottom: #FFFFFF 1px solid;
          margin: 10px;
        }
      }
    }
  }

}


