<div class="container">
  <div class="thematic-header" *ngIf="thematicDetails">
    <!--HEADER IMAGE-->
    <div class="thematic-header-image">
      <div
        style="background-image: url('https://dev-project-upskill2-grupo4v2.pantheonsite.io{{thematicDetails[0].field_thematic_header_image}}');"></div>
    </div>
    <!--THUMBNAIL & TITLE-->
    <div class="thematic-thumbnail-title">
      <div class="thematic-thumbnail">
        <div
          style="background-image: url('https://dev-project-upskill2-grupo4v2.pantheonsite.io{{thematicDetails[0].field_thematic_thumbnail}}');"></div>
      </div>
      <h1>{{thematicDetails[0].title}}</h1>
      <p>{{uploadService.translations["by"]}} {{thematicDetails[0].uid}}</p>
      <h4 class="all-thematics" routerLink="/thematics" >{{uploadService.translations["all thematics"]}}</h4>
    </div>

    <!--BODY-->
    <div class="thematic-main">
      <!--TEASER-->
      <p class="thematic-teaser">{{thematicDetails[0].field_thematic_teaser}}</p>
      <!--BODY-->
      <div class="body">{{thematicDetails[0].body}}</div>
      <!--LINKS-->
      <h2>Related links</h2>
      <div class="thematic-links">
        <div *ngFor="let t of thematicLinks">
          <a [href]=t.uri target="_blank">{{t.title}}</a>
        </div>
      </div>

      <!--VIDEOS-->
      <h2>Thematic videos</h2>
      <div class="thematic-videos" *ngIf="thematicDetails">
        <app-videotag title="hide" tagslist="hide" all="hide"
                      *ngFor="let td of thematicDetails"
                      [idTag]=td.tid
                      [nameTag]="td.name">
        </app-videotag>
      </div>
    </div>
  </div>
</div>
