.container {
  .thematic-header {
    .thematic-header-image {

      div {
        display: block;
        background-size: cover;
        width: 100%;
        height: 250px;
        //padding-bottom: 57%;
        background-position: center;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
      }
    }

    .header{
      display: flex;
      flex-direction: row;
      align-items: center;
      align-content: center;
      justify-content: space-between;
      margin-top: 1rem;

      .thematic-thumbnail {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
        padding-left: 1rem;
        width: 90%;

        h2, p {
          margin-left: 1rem;
        }

        .logotype {
          aspect-ratio: 1/1;
          background-size: cover;
          background-position: center;
          border-radius: 1000rem;
          max-width: 60px;
          min-width: 40px;
          right: 1rem;
          width: 100%;
        }
      }

      .all-thematics {
        margin-right: 1rem;
        padding-bottom: 0.3rem;
        width: 10%;

        &:hover {
          border-bottom: 1px solid white;
          color: white;
          cursor: pointer;
        }
      }
    }

    .thematic-teaser {
      padding-bottom: 10px;
      color: #979797;
    }
  }

  .thematic-main {
    padding: 20px;

    h2 {
      padding: 30px 0 0 0;
    }

    .body {
      font-size: 1rem;
    }

    .thematic-links {
      border: 1px solid darkgray;
      padding: 20px;
      border-radius: 12px;

      a {
        color: #979797;
      }
    }

    .thematic-videos {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;

    }
  }
}

@media only screen and (max-width: 700px) {
  .container {

    .thematic-header {
      padding: 0.6rem;

      .header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .thematic-thumbnail {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          width: 100%;

          h2 {
            font-size: 1.1rem;
          }
          p {
            font-size: 0.6rem;
          }
        }

        .all-thematics {
          margin-left: 1rem;
          width: 100%;
        }
      }
    }
  }
}
