<div class="container">
  <div class="thematic-header">
    <!--HEADER IMAGE-->
    <div class="thematic-header-image">
      <div
        style="background-image: url('https://dev-project-upskill2-grupo4v2.pantheonsite.io{{thematicDetails[0].field_thematic_header_image}}');"></div>
    </div>
    <!--THUMBNAIL & TITLE-->
    <div class="thematic-thumbnail-title">
      <div class="thematic-thumbnail">
        <div
          style="background-image: url('https://dev-project-upskill2-grupo4v2.pantheonsite.io{{thematicDetails[0].field_thematic_thumbnail}}');"></div>
      </div>
      <h1>{{thematicDetails[0].title}}</h1>
    </div>

    <!--BODY-->
    <div class="thematic-main">
      <!--TEASER-->
      <div class="thematic-teaser">{{thematicDetails[0].field_thematic_teaser}}</div>
      <!--BODY-->
      <div>{{thematicDetails[0].body}}</div>
      <!--LINKS-->
      <h4>Related links</h4>
      <div class="thematic-links">
        <div *ngFor="let t of thematicLinks">
          <a [href]=t.uri>{{t.title}}</a>
        </div>
      </div>

      <!--VIDEOS-->
      <h4>Thematic videos</h4>
      <div class="thematic-videos" *ngIf="thematicDetails">
        <div *ngFor="let td of thematicDetails">
          <app-videotag [id_tag]=td.tid.toString()>
          </app-videotag>
        </div>
      </div>
    </div>
  </div>
</div>

<!--    SUGGESTION LIST-->
<!--<app-suggestionlist></app-suggestionlist>
<div class="thematic-lateral">
  <h4>Suggested thematics</h4>
  <div class="thematic-suggested">
    <p>Last thematic added</p>
    <p>Last thematic read</p>
  </div>
</div>-->
