.container {
  display: flex;

  .thematic-main {
    width: 70%;
    padding: 10px;

    .thematic-header-image {

      div {
        display: block;
        background-size: cover;
        width: 100%;
        padding-bottom: 57%;
        background-position: center;
      }
    }

    .thematic-thumbnail {
      width: 100px;

      div {
        display: block;
        background-size: cover;
        width: 100%;
        padding-bottom: 57%;
        background-position: center;
      }
    }

    .thematic-teaser {
      padding: 10px;
      font-size: 12px;
    }

    .thematic-body {
      padding: 10px
    }
  }

  .thematic-lateral{
    width: 30%;
    padding: 10px;
  }

}
