.container{
  padding-top: 40px;

  .pagination {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;

    span {
      padding: 0 2px;
    }

    :hover span {
      padding: 0 4px;
      font-weight: bold;
      cursor: pointer;
    }
  }

  .videos-tag{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
