<div class="container" *ngIf="videosByTag">

  <!--TAGS - MAYBE REMOVE?-->
  <!--<app-tags class="tags" [all]="all" [tagslist]="tagslist" [title]="title">
  </app-tags>-->

  <h3 class="tag" [ngClass]="">#{{videosByTag[0].name_1.toLowerCase()}}</h3>

  <!--PAGINATION-->
  <div class="pagination">
    <span class="page-number" *ngFor="let pnv of pNumsVideos">
      <span (click)="refresh(idTag,pnv)">{{pnv + 1}}</span>
    </span>
  </div>

  <!--VIDEOS BY TAG-->
  <div class="videos-tag">
    <app-contentcard class="video-card" type="video" *ngFor="let vt of videosByTag"
                     [title]="vt.name"
                     [field_duration]="vt.field_duration"
                     [mid]="vt.mid"
                     [image]="vt.thumbnail__target_id"
                     [routerLink]="['/video-detail', vt.view_media.split('/').slice(-1)[0]]"
                     [uid]="vt.uid"
                     [field_media_oembed_video]="vt.field_media_oembed_video"
                     [source]="getTags(vt.field_media_tags)">
    </app-contentcard>
  </div>
</div>
