.container{
  padding-top: 40px;

  .pagination{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    .pagination-item{
      width: 35px;

      div{
        padding: 0 10px;
        font-size: 1.5em;
      }

      .pagination-number{
        font-size: 1.5em;
      }
    }
  }

  .videos-tag{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
