.container {

  .pagination {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0.9rem auto;

    span {
      padding: 2px 4px;
      font-size: 0.8rem;
      color: #B5B5BE;

      &:hover {
        padding: 0 6px;
        font-weight: bold;
        cursor: pointer;
      }

      &.active {
        color: white;
        border: 1px solid #b5b5be69;
      }
    }
  }

  h3 {
    color: #1E75FF;
  }

  .videos-tag {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 3%;
    width: 97%;

    app-contentcard {
      width: 31%;
      margin: 6px 4px;
    }
  }
}

@media only screen and (max-width: 500px) {
  .container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    .videos-tag {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      app-contentcard {
        width: 100%;
        margin: 5px 2px;
      }
    }
  }
}

@media only screen and (min-width: 500px) and (max-width: 992px) {
  .container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    .videos-tag {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;

      app-contentcard {
        width: 48%;
        margin: 5px 2px;
      }
    }
  }
}
