.video-container {
  width: 343px;
  height: 250px;
  background: #1C1C24;
  border-radius: 20px;
  margin: 23px;


  .image-container {
    position: relative;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding-bottom: 45%;
  }

  .info-container {
    height: 100px;

    h5 {
      color: #FAFAFB;
      font-size: 14px;
      margin: 10px;
    }

    p {
      color: silver;
      font-size: 10px;
      margin: 10px;
    }
  }
}

