<div class="container">
  <h2>Thematics</h2>
  <!--TAGS-->
  <div class="tags" *ngIf="tags">
    <div class="tags-items">
      <div class="tags-item" (click)="getLessTags(pageNumberTags)"
           *ngIf="this.visibleTag == true && tags.length==8 || tags.length<8">
        <
      </div>
      <div class="tags-item" *ngFor="let t of tags">
        <div (click)="refresh(pageNumberTags,pageNumbersThematics[0],t.tid)">
<!--        <div (click)="getThematicsByTag(t.tid)">-->
          #{{t.name.toLowerCase()}}</div>
      </div>
      <div class="tags-item" (click)="getMoreTags(pageNumberTags);toggleVisibleTag()" *ngIf="tags.length==8">
        >
      </div>
    </div>
  </div>
  <!--PAGINATION THEMATICS-->
  <div class="pagination">
      <span class="page-number" *ngFor="let pn of pageNumbersThematics">
        <!--Needs to be correct for tags-->
        <span (click)="refresh(pageNumberTags,pn,tagIdSelected)">{{pn + 1}}</span>
      </span>
  </div>
  <!--THEMATICS-->
  <div class="main-content">
    <div class="thematics-all" *ngIf="thematics">
      <div class="thematics">
        <div *ngFor="let t of thematics" class="thematic-item"
             [routerLink]="['/thematic', t.view_node.split('/').slice(-1)[0]]">
          <div class="thematic-header">
            <div class="thematic-thumbnail">
              <div
                style="background-image: url('https://dev-project-upskill2-grupo4v2.pantheonsite.io{{t.field_thematic_thumbnail}}');"></div>
            </div>
            <div>
              <h5>{{t.title}}</h5>
              <p>{{t.uid}}</p>
            </div>
          </div>
          <div class="thematic-header-image">
            <div
              style="background-image: url('https://dev-project-upskill2-grupo4v2.pantheonsite.io{{t.field_thematic_header_image}}');"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
