<div class="container">
  <h1>Thematics</h1>

  <!--TAGS-->
  <div class="tags" *ngIf="tags">
    <h4>Choose your tematic by tag</h4>
    <div class="tags-items">
      <div class="tags-item" (click)="getLessTags(pageNumber)" *ngIf="this.visible == true && tags.length==10 || tags.length<10">←</div>
      <div class="tags-item" *ngFor="let t of tags">
        <div (click)="getThematicsByTag(t.tid); toggleActive()" [ngClass]="active ? 'selected':'unselected'">#{{t.name.toLowerCase()}}</div>
      </div>
      <div class="tags-item" (click)="getMoreTags(pageNumber);toggleVisible()" *ngIf="tags.length==10">→</div>
    </div>
  </div>

  <!--THEMATICS-->
  <div class="main-content">
    <div class="main-content-center">
      <div class="thematics-all">
        <div class="thematics" *ngIf="thematics">
          <div *ngFor="let t of thematics" class="thematic-item" [routerLink]="['/thematic', t.nid]">
            <div class="thematic-header">
              <div class="thematic-thumbnail">
                <div
                  style="background-image: url('https://dev-project-upskill2-grupo4v2.pantheonsite.io{{t.field_thematic_thumbnail}}');"></div>
              </div>
              <div>
                <h5>{{t.title}}</h5>
                <p>{{t.uid}}</p>
              </div>
            </div>
            <div class="thematic-header-image">
              <div
                style="background-image: url('https://dev-project-upskill2-grupo4v2.pantheonsite.io{{t.field_thematic_header_image}}');"></div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!--THEMATICS SUGGESTION-->
    <!--<div class="suggestion-list-card">
      <h4>Newest thematics</h4>
      <app-suggestionlist *ngFor="let t of thematics.slice(0,5)"
                          [listThumbnail]="t.field_thematic_thumbnail"
                          [listElement]="t.title"
                          [id_element]="t.nid">
      </app-suggestionlist>
    </div>-->
  </div>
</div>
