.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  cursor: pointer;
  margin-top: 2rem;
  margin-bottom: 1rem;
  position: relative;

  .menu-item-text {
    margin-top: 1rem;
    color:  #B5B5BE;
    font-size: 1rem;

    &.active {
      color:#FAFAFB;
      border-left: 2px solid white;
    }

    &:hover {
      font-weight: bold;
      color: white;
    }

    .title {
      position: absolute;
      left: 58px;
    }

    .menu-item-logo {
      flex-basis: 25px;
      margin: auto 15px;
    }
  }
}
