<div class="menu-container">
  <div class="menu-item-text" routerLink="homepage" routerLinkActive="active">
      <span class="menu-item-logo">
      <fa-icon [icon]="faHouse"></fa-icon>
    </span>
    <span class="title">Home</span>
  </div>
  <div class="menu-item-text" routerLink="channels" routerLinkActive="active">
      <span class="menu-item-logo">
      <fa-icon [icon]="faBarsStaggered"></fa-icon>
    </span>
    <span class="title">Channels</span>
  </div>
  <div class="menu-item-text" routerLink="thematics" routerLinkActive="active">
        <span class="menu-item-logo">
        <fa-icon [icon]="faClapperboard"></fa-icon>
      </span>
    <span class="title">Thematics</span>
  </div>
  <div class="menu-item-text" routerLink="playlists" routerLinkActive="active">
          <span class="menu-item-logo">
       <fa-icon [icon]="faPlay"></fa-icon>
     </span>
    <span class="title">Playlists</span>
  </div>
</div>
