<div class="container">
  <div class="menu-item">
    <div class="menu-item-logo">
      ★
    </div>
    <div class="menu-item-text" routerLink="homepage" routerLinkActive="active">
      Início
    </div>
  </div>
  <div class="menu-item">
    <div class="menu-item-logo">
      ★
    </div>
    <div class="menu-item-text">
      Canais
    </div>
  </div>
  <div class="menu-item">
    <div class="menu-item-logo">
      ★
    </div>
    <div class="menu-item-text" routerLink="thematics" routerLinkActive="active">
      Temáticas
    </div>
  </div>
  <div class="menu-item">
    <div class="menu-item-logo">
      ★
    </div>
    <div class="menu-item-text" routerLink="playlists" routerLinkActive="active">
      Playlists
    </div>
  </div>
</div>
