.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  cursor: pointer;

  .menu-item-text {
    margin-top: 10px;
    color: lightgrey;

    &.active {
      color: red;
    }

    .menu-item-logo {
      flex-basis: 25px;
      margin-right: 10px;
    }
  }
}
