.container {
  padding: 10px 5px;

  .menu-item {
    display: flex;
    align-items: center;
    padding: 4px;


    .menu-item-logo {
      flex-basis: 20px;
      color: lightgrey;
    }

    .menu-item-text {
      color: lightgrey;
    }

  }

}
