<div class="channel-container" *ngIf="channel">
  <div class="images-header">
    <div class="channel-cover-photo"
         style="background-image: url('https://dev-project-upskill2-grupo4v2.pantheonsite.io{{channel[0].field_cover_photo}}');">
      <div class="channel-logotype"
           style="background-image: url('https://dev-project-upskill2-grupo4v2.pantheonsite.io{{channel[0].field_logotype}}');">
      </div>
    </div>
  </div>
  <div class="main-section">
    <div class="text-header">
      <h1>
        {{channel[0].title}} <span class="channel-author">by {{channel[0].uid}}</span>
      </h1>
      <p>
        {{channel[0].body}}
      </p>
    </div>

    <h2>Videos </h2>
    <!-- Videos -->
    <div class="channel-videos" *ngIf="videos?.length; else noVideo">
      <app-contentcard type="channel" *ngFor="let vid of videos"
                       [source]="getHashtag(vid.field_media_tags)"
                       [title]="vid.name"
                       [subtitle]="vid.created"
                       [mid]="vid.mid"
                       [image]="vid.thumbnail__target_id"
                       [field_duration]="vid.field_duration"
                       [routerLink]="['/channelplayer', vid.nid]"
      ></app-contentcard>
    </div>
    <!--Comments -->
    <div class="channel-comments">
      <app-comments [entityType]="channelEntityType"
                    [contentID]="nid">
      </app-comments>
    </div>
    <ng-template #noVideo>
      Please be patient, this channel will upload videos soon!
    </ng-template>
  </div>
</div>
