
.channel-header {
  .channel-cover-photo {
    background-size: cover;
    background-position: center;
    padding-bottom: 45%;
  }

  .channel-logotype {
    width: 69px;
    height: 69px;
    border-radius: 100%;
    border: 1px solid white;
    background-size: cover;
    background-position: center;
    position: relative;
  }
}
