<div class="video-card" [ngClass]="type" [routerLink]="routerLink">
  <div class="image" style="background-image: url('https://dev-project-upskill2-grupo4v2.pantheonsite.io{{image}}');">
    <div *ngIf="logotype" class="logotype"
         style="background-image: url('https://dev-project-upskill2-grupo4v2.pantheonsite.io{{logotype}}');">
    </div>
    <div>{{field_duration}}</div>
    <div class="icons">
   <!--   <span class="bookmark-icon" (click)="uploadService.toggleFavChannel(nid)">
          <fa-icon [icon]="uploadService.isFavChannel(nid)? faBookmarkFull : faBookmark" class="fa-xl"></fa-icon>
        </span>-->
      <fa-icon class="bookmark-icon" [icon]="favorite? faBookmarkFull : faBookmark"></fa-icon>
      <fa-icon class="share-icon" [icon]="faShareNodes"></fa-icon>
    </div>
  </div>
  <div class="info-container">
    <p class="blue-ref">{{source}}</p>
    <h5>{{title}}</h5>
    <p class="card-subtitle"><span *ngIf="channelAuthor">by </span>{{subtitle || channelAuthor}}</p>
  </div>
</div>
