<div class="video-card" [ngClass]="type">
  <div class="image" [routerLink]="routerLink"
       style="background-image: url('https://dev-project-upskill2-grupo4v2.pantheonsite.io{{image}}');">
    <div *ngIf="logotype" class="logotype"
         style="background-image: url('https://dev-project-upskill2-grupo4v2.pantheonsite.io{{logotype}}');">
    </div>
    <p class="duration">{{field_duration}}</p>
  </div>
  <div class="icons" (click)="$event.stopPropagation()">
      <span class="bookmark-icon" (click)="$event.stopPropagation(); uploadService.toggleFavoriteVideo(mid)">
        <fa-icon [icon]="uploadService.isFavoriteVideo(mid)? faBookmarkFull : faBookmark"></fa-icon>
      </span>
        <fa-icon class="share-icon" (click)="copyUrl(field_media_oembed_video, title)" [icon]="faShareNodes"></fa-icon>
  </div>

  <div class="info-container">
    <p class="blue-ref" *ngIf="source; else noSource">
      {{source}}
    </p>
    <ng-template #noSource>
      <p class="blue-ref">by {{uid}}</p>
    </ng-template>
    <h5>
      {{title}}
    </h5>
    <p class="card-subtitle"><span *ngIf="channelAuthor">by </span>{{subtitle || channelAuthor}}</p>
  </div>

  <div class="playlist-icon">
    <img src="assets/bookmark-playlist-big.png">
  </div>

  <div class="popup-url" *ngIf="popup">
    <p>URL copied!</p>
  </div>

</div>
