.category-container {
  display: flex;
  margin-left: 23px;

  .category {
    background-color: #3b3838;
    border-radius: 20px;
    margin-left: 10px;
    cursor: pointer;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;

  .playlist-container {
    position: relative;
    cursor: pointer;
  }

  .playlist-icon {
    img {
      position: absolute;
      width: 50px;
      top: 80px;
      left: 30px;
    }
  }

}


p {
  color: #FFFFFF;
  margin: 10px;
  text-align: center;
}

h2 {
  cursor: pointer;
}



