<h1 (click)="categorySelected(id)">Playlists</h1>

<div class="category-container">
  <div class="category-list" *ngFor="let category of categories" (click)="categorySelected(category.tid)">
    <p>{{category.name}}</p>
  </div>
  <p (click)="categorySelected(id)" class="category">ALL</p>
</div>

<div class="container">
  <div class="favorites-card" routerLink="/favorites" routerLinkActive="active">
    <p>My favorites</p>
    <div>
      <div *ngFor="let fl of favorites_list | slice:0:6" class="favorites-img">
        <img src="https://dev-project-upskill2-grupo4v2.pantheonsite.io{{fl.thumbnail__target_id}}">
      </div>
    </div>

  </div>

  <div class="playlist-container" *ngFor="let playlist of playlists">
    <app-contentcard type="video"
                     [title]="playlist.title"
                     [source]="playlist.name"
                     [logotype]="playlist.user_picture"
                     [image]="playlist.thumbnail__target_id"
                     [subtitle]="playlist.created"
                     [routerLink]="['/playlist', playlist.nid]"
   ></app-contentcard>
    <div class="playlist-icon">
      <img src="assets/bookmark-playlist-big.png">
    </div>
  </div>
</div>

