.container {
  display: flex;
  flex-wrap: wrap;

  div {
    background-color: #FFFFFF;
    padding: 30px;
    margin: 23px;
    border-radius: 20px;
    color: black;
    cursor: pointer;
    display: block;

    img {

    }
  }
}



h2 {
  margin: 23px;
}
