.container {
  display: flex;
  flex-wrap: wrap;

  .favourites-videos {
    margin: 23px;
    width: 300px;
    height: 200px;
    background-color: #FFFFFF;
    border-radius: 10px;
    color: #1C1C24;
  }

  .playlist-container {
    background-color: #FFFFFF;
    width: 150px;
    height: 175px;
    margin: 23px;
    border-radius: 10px;
    color: black;
    cursor: pointer;
    position: relative;

    img {
      padding: 10px;
      width: 130px;
      height: 100px;
      border-radius: 15px;
    }

    .logo {
      position: absolute;
      top: 0px;
      width: 50px;
      height: 50px;

    }
  }
}

p {
  margin: 10px;
  text-align: center;
}



h2, h4 {
  margin: 23px;
}
