<h2>Playlists</h2>

<div class="category-container">
  <div class="category" *ngFor="let category of categories" (click)="categorySelected(category.tid)">
    <p>{{category.name}}</p>
  </div>
    <p (click)="categorySelected(id)">CLEAR</p>
</div>

<div class="container">
  <div class="favourites-videos">
    <h4>Favourite Videos</h4>
    <p>108 liked videos</p>
  </div>

  <div class="playlist-container" *ngFor="let playlist of playlists" [routerLink]="['/playlist', playlist.nid]">
    <img src="https://dev-project-upskill2-grupo4v2.pantheonsite.io{{playlist.field_image}}">
    <p>{{playlist.title}}</p>
    <img class="logo" src="../../assets/playlist-icon.png">
  </div>
</div>
