.wrapper {
  width: 100%;

  h2 {
    cursor: pointer;
  }

  .categories-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 2rem;
    justify-content: center;

    p.categories {
      color: lightgrey;
      padding: 4px 6px;
      border: 1px solid #b5b5be69;
      margin: 2px;
      border-radius: 6px;
      text-decoration: none;

      &:hover {
        font-weight: bold;
        border: 1px solid white;
        cursor: pointer;
      }

      &.active {
        border: 2px solid white;
        font-weight: bold;
      }
    }
  }

  .pagination {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0.9rem auto;

    span {
      padding: 2px 4px;
      font-size: 0.8rem;
      color: #B5B5BE;

      &:hover {
        padding: 0 6px;
        font-weight: bold;
        cursor: pointer;
      }

      &.active {
        color: white;
        border: 1px solid #b5b5be69;
      }
    }
  }

  .main-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;

    .channel-card {
      border-radius: 20px 0 20px 0;
      background-color: #575757;
      margin: 6px 10px;
      position: relative;
      width: 30%;
      height: 100%;

      .popup-url {
        background-color: #212121;
        border: 1px solid white;
        color: white;
        border-radius: 5px;
        position: absolute;
        bottom: 5px;
        left: -35px;
        z-index: 1;
        width: fit-content;
      }

      .image {
        background-size: cover;
        background-position: center;
        border-radius: 20px 0 0 0;
        position: relative;
        padding-bottom: 55%;
        width: 100%;

        .logotype {
          aspect-ratio: 1/1;
          background-size: cover;
          background-position: center;
          border: 2px solid white;
          border-radius: 100%;
          bottom: 0;
          max-width: 60px;
          min-width: 40px;
          position: absolute;
          right: 1rem;
          transform: translateY(50%);
          width: 20%;
        }
      }

      .info-container {
        align-items: center;
        box-sizing: border-box;
        display: flex;
        justify-content: flex-start;
        padding: 0.7em 1em;
        width: 100%;

        .info {
          h5, .card-subtitle {
            margin: 0 0 0 15px;
            color: whitesmoke;
          }
        }

        .icons {
          display: flex;
          flex-direction: row;
          align-items: end;
          gap: 0.8rem;
          cursor: pointer;
          color: #979797;
          font-size: 1rem;
          width: 10%;

          .share-icon {
            color: whitesmoke;
          }

        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {

  .wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;

    .main-section {
      width: 100%;
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      .channel-card {
        width: 100%;
        margin: 5px 2px;
      }
    }
  }
}

@media only screen and (min-width: 500px) and (max-width: 992px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    padding: 0.2rem;

    .main-section {
      width: 100%;
      margin: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;

      .channel-card {
        width: 100%;
        margin: 5px 2px;
      }
    }
  }
}
