<div class="wrapper">
  <h1>Channels</h1>
  <div class="categories-list" *ngIf="categories">
    <div class="categories" *ngFor="let category of categories">
      <div (click)="targetChannels(category.tid)">
        {{category.name}}
      </div>
    </div>
  </div>

  <div class="all-channels">
    <div class="channels-container">
      <app-contentcard type="channels" *ngFor="let channel of channels"
                       [source]="channel.field_category"
                       [title]="channel.title"
                       [subtitle]="channel.field_author"
                       [mid]="channel.nid"
                       [image]="channel.field_cover_photo"
                       [logotype]="channel.field_logotype"
                       [routerLink]="['/channel', channel.nid]"
      ></app-contentcard>
    </div>
    <div class="channels-sidebar">

      <div class="suggested-channel">
        Suggestion? Based on?
    <!--    <div *ngIf="channels">
          <app-contentcard [source]="channels[5].field_category"
                           [title]="channels[5].title"
                           [subtitle]="channels[5].field_author"
                           [mid]="channels[5].nid"
                           [image]="channels[5].field_cover_photo"
                           [logotype]="channels[5].field_logotype"
                           [routerLink]="['/channel', channels[5].nid]"
          ></app-contentcard>
        </div>-->

      </div>
    </div>
  </div>


</div>
