<h1>Channels</h1>
<div class="wrapper">
  <div class="channels-container">
    <app-contentcard *ngFor="let channel of channels"
               [source] = "channel.field_category"
               [title] = "channel.title"
               [subtitle] = "channel.field_author"
               [mid] = "channel.nid"
               [image] = "channel.field_cover_photo"
               [logotype] = "channel.field_logotype"
               [routerLink]="['/channel', channel.nid]"
    ></app-contentcard>
  </div>
  <div class="channels-sidebar">
    <div class="categories-list">
      List of categories
    </div>
    <div class="suggested-channel">
      Suggested channel (based on what?)
    </div>
  </div>
</div>
