.app-wrapper {
  display: flex;
  margin: 0;

  app-sidebar {
    width: 40%;
  }

  .content {
    display: flex;
    flex-wrap: wrap;

    .main-content {
      width: 100%;
      padding: 30px;
    }

    .footer {
      background-color: black;
      width: 100%;
      padding: 10px;
      position: sticky;
      bottom: 0;
    }
  }
}

