.app-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  position: relative;

  app-sidebar {
    max-width: 200px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    float: left;
  }

  .main-content {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    left: 200px;
    padding: 20px 20px 150px 20px;
  }
}


