<div class="wrapper">
  <div class="mobile-header">
    <img class="image" src="./assets/upload.svg" alt="Upload_logo" (click)="uploadService.refreshComp()">
    <div class="burger-icon" (click)="toggleMenu()">
      <fa-icon [icon]="isMenuOpen? faXmark : faBars"></fa-icon>
    </div>
  </div>
  <div class="main" (click)="toggleMenu()" [class.is-open]="isMenuOpen">
    <div class="icon-logo">
      <img src="./assets/upload.svg" alt="Upload_logo" routerLink="homepage" (click)="uploadService.refreshComp()">
    </div>
    <app-menu></app-menu>
    <app-tags></app-tags>
    <div class="languages">
    <span id="portuguese" [ngClass]="{'active': isActive[0]}"
          (click)="uploadService.switchLanguage('portuguese'); toggleActive(0)">
      PT
    </span>
      |
      <span id="english" [ngClass]="{'active': isActive[1]}"
            (click)="uploadService.switchLanguage('english'); toggleActive(1)">
      EN
    </span>
    </div>
    <div class="login">
      <fa-icon [icon]="faKey"></fa-icon><a class="login-button" href="https://test-project-upskill2-grupo4v2.pantheonsite.io/user/login" target="_blank">Login</a>
    </div>

    <div class="footer-container">
      <div class="footer">
        by
        <a href="https://github.com/iuriabetco" target="_blank">Betco</a>,
        <a href="https://github.com/AgatheMarieM" target="_blank">Maillol</a> and
        <a href="https://github.com/filipapico" target="_blank">Pico</a>
      </div>
    </div>
  </div>
</div>

