<div class="container">
  <div class="icon-logo">
    <img src="./assets/upload.svg" alt="Upload_logo"  routerLink="homepage">
  </div>
  <!--MORE OR LESS WORKING - CAN STILL BE IMPROVED
  <app-collapse></app-collapse>-->
  <app-menu></app-menu>
  <app-tags></app-tags>
  <app-userslogin></app-userslogin>
  <div class="footer">
      Coded by
      <a href="https://github.com/iuriabetco" target="_blank">Betco</a>,
      <a href="https://github.com/AgatheMarieM" target="_blank">Maillol</a> and
      <a href="https://github.com/filipapico" target="_blank">Pico</a>
  </div>
</div>

