<div class="container">
  <div class="video-playing" *ngIf="playlist">
<!--    <iframe width="560" height="315" [src]="playlist[indexVideo].video_url" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h1>{{playlist[indexVideo].title}}</h1>
    <p>{{playlist[indexVideo].name}}</p>
    <app-comments></app-comments>-->
    <app-video-detail
     [id_video]="playlist[indexVideo].mid"
    ></app-video-detail>

  </div>

  <div *ngIf="playlist" class="videos-list" >
    <h4>{{indexVideo + 1}}/{{playlist.length}}</h4>
    <div *ngFor="let video of playlist" (click)="getVideo(playlist.indexOf(video))">
      <p>{{playlist.indexOf(video) + 1}}</p>
      <img src="https://dev-project-upskill2-grupo4v2.pantheonsite.io{{video.thumbnail__target_id}}">
<!--      <iframe width="220" height="115" [src]="video.video_url" title="YouTube video player"  allow="picture-in-picture" allowfullscreen></iframe>-->
      <p>{{video.name}}</p>
    </div>
  </div>
</div>





