.container {
  display: flex;
}


.video-playing {
  margin: 23px;
  //background-color: #262525;
  border-radius: 20px;
  backdrop-filter: blur(20px);

  iframe {
    margin: 20px;
    border: none;
  }

  h1 {
    color: #e8e5e5;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 23px;
  }

  p {
    color: #ffffff;
    margin-top: 0px;
    margin-left: 23px;
  }
}


.videos-list {
  margin: 23px;
  border: 2px solid #3b3838;
  border-radius: 20px;
  height: fit-content;
  width: 30%;

  h4 {
    text-align: center;
  }

  div:hover{
    transform: scale(1.2);
    background-color: #212121;
    //box-shadow: 2px 2px 2px #000;
    z-index: 2;
  }


  div {
    transition: 1s;
    display: flex;
    margin: 30px;

    img {
      border: #3b3838 2px solid;
      border-radius: 20px;
      width: 200px;
      height: 100px;
    }

    p {
      margin: 15px;
      font-size: 13px;
    }
  }
}



