<div class="container">
  <div class="video-playing" *ngIf="playlist">
    <iframe width="560" height="315" [src]="playlist[0].video_url" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <div *ngIf="playlist">
    <h2> Playlist - {{playlist[0].title}} </h2>
    <div *ngFor="let video of playlist">
      <p>{{video.name}}</p>
      <iframe width="220" height="115" [src]="video.video_url" title="YouTube video player"  allow="picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>




