.container {
  display: flex;
}


.video-playing {
  margin: 23px;
  //background-color: #262525;
  border-radius: 20px;
  backdrop-filter: blur(20px);
  width: 70%;

  iframe {
    margin: 20px;
    border: none;
  }

  h1 {
    color: #e8e5e5;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 23px;
  }

  p {
    color: #ffffff;
    margin-top: 0px;
    margin-left: 23px;
  }
}


.videos-list {
  margin: 23px;
  border: 2px solid #1c1c24;
  border-radius: 20px;
  height: fit-content;
  width: 40%;
  //overflow-y: scroll;



  h4 {
    text-align: center;
    padding: 10px;
    background-color: #1c1c24;
  }

  .video-card:hover {
    transform: scale(1.01);
    background-color: #1c1c24;
    box-shadow: 2px 2px 2px #000;
  }


  .video-card {
    transition: 2ms;
    display: flex;
    margin: 10px 2px;
    cursor: pointer;

    .image {
      width: 145px;
      height: 100px;
      border: #1c1c24 2px solid;
      border-radius: 20px;
    }

    p {
      font-size: 11px;
      margin: 10px;
      line-height: 1.2;
    }

    .index {
      font-size: 14px;
      font-weight: bold;
    }
  }
}

@media (max-width: 700px) {
  .container {
    display: block;
  }

  .video-playing {
    width: 90%;
  }

  .videos-list {
    margin: 23px;
    border: 2px solid #1c1c24;
    border-radius: 20px;
    height: fit-content;
    width: 90%;

    .video-card {
      p {
        font-size: 15px;
      }
    }
  }

}





