<div class="container">
  <div class="video-playing" *ngIf="playlist">
    <iframe width="560" height="315" [src]="playlist[0].video_url" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h1>{{playlist[0].title}}</h1>
    <p>{{playlist[0].name}}</p>
  </div>

  <div *ngIf="playlist" class="videos-list" >
    <div *ngFor="let video of playlist" (click)="clickVideo()">
      <iframe width="220" height="115" [src]="video.video_url" title="YouTube video player"  allow="picture-in-picture" allowfullscreen></iframe>
      <p>{{video.name}}</p>
    </div>
  </div>
</div>




