<div class="container">
  <div>
    <fa-icon [icon]="iconLikeActive? faThumbsUpSolid : faThumbsUp" class="fa-xl"
             (click)="addFlagToVideo('like','{}','','');
             toggleLike()">
    </fa-icon>
  </div>
  <span *ngIf="likes">{{likes[0].count}}</span>
  <span class="separator">|</span>
  <div>
    <fa-icon [icon]="iconDislikeActive? faThumbsDownSolid : faThumbsDown" class="fa-xl"
             (click)="addFlagToVideo('dislike','{}','','');
             toggleDislike()">
    </fa-icon>
  </div>
  <span *ngIf="dislikes">{{dislikes[0].count}}</span>
</div>

<!--FOR LATER - change icon isliked/notliked Localstorage
<fa-icon [icon]="upbnbService.isFavorite(id) ? faHeartSolid : faHeart"></fa-icon>

CLASSES ICONS - SIZE
class="fa-2x"
class="fa-xl"
-->
