.container {
  padding: 10px 5px;
  margin-left: 15px;

  h4 {
    color: lightgrey;
    margin-bottom: 10px;
  }

  .tags-items {
    display: flex;
    flex-wrap: wrap;

    .tags-item {
      color: lightgrey;
      padding: 4px 6px;
      border: 1px solid #b5b5be69;
      margin: 2px;
      border-radius: 6px;

      &:hover {
        font-weight: bold;
        border: 1px solid white;
      }
    }
  }
}
