.container {
  padding: 10px 5px;
  margin-left: 15px;

  h5 {
    color: #B5B5BE;
    margin-bottom: 10px;

    &.hide {
      display: none
    }
  }

  .tags-items {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.9rem;

    &.hide {
      display: none
    }

    .tags-item, .tags-item-all {
      color: lightgrey;
      padding: 4px 6px;
      border: 1px solid #b5b5be69;
      margin: 2px;
      border-radius: 6px;

      &.active {
        color: white;
        border: 2px solid white;
      }

      &:hover {
        font-weight: bold;
        border: 1px solid white;
        cursor: pointer;
      }

      &.hide {
        display: none
      }
    }

    .tags-item-all {
      display: none;

      &.show {
        display: revert;
      }
    }
    &.hide{
      background-color: chocolate;
    }
  }
}
