.container {
  padding: 10px 5px;

  h4{
    color: lightgrey;
    margin-bottom: 10px;
  }

  .tags-items {
    display: flex;
    flex-wrap: wrap;

    .tags-item {
      color: lightgrey;
      padding: 4px 6px;
      border: 1px solid lightgrey;
      margin: 2px;
      border-radius: 6px;
    }

  }

}
