<div class="comments-container">
  <h3>Comments</h3>
  <div class="comment-box">
    <div class="gravatar-box">
      <div class="gravatar"
           style="background-image: url('https://img.favpng.com/16/11/7/gravatar-computer-icons-blog-png-favpng-Jr68yZHtrGj5dSUqHSXaJDQ4f.jpg');">
      </div>
    </div>
    <form #commentForm="ngForm" class="inputs" (ngSubmit)="onCommentSubmit(commentForm.value)">
      <input type="text" id="username-input" name="username" required
             minlength="4" maxlength="20" placeholder="Name" ngModel>
      <input type="text" id="email-input" name="email" required
             minlength="4" maxlength="40" placeholder="E-mail" ngModel>
      <input type="text" id="comment-input" name="comment" required
             minlength="4" maxlength="200" placeholder="Message" ngModel>
      <input type="submit" value="Submit">
    </form>
  </div>
</div>
