.wrapper {
  .favorites {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 3%;
    width: 97%;

    app-contentcard {
      width: 30%;
      margin: 5px 10px;
    }
  }

}


@media only screen and (max-width: 500px) {
  .wrapper {
    width: 90%;
    margin: 0 auto;

    .favorites {
      width: 100%;

      app-contentcard {
        width: 100%;
        margin: 5px 2px;
      }
    }
  }
}

@media only screen and (min-width: 500px) and (max-width: 992px) {

  .wrapper {
    .favorites {
      app-contentcard {
        width: 100%;
        margin: 5px 2px;
      }
    }
  }
}
