.form-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  color: #979797;

  .gravatar-box {
    margin-right: 20px;

    .gravatar {
      width: 70px;
      height: 70px;
      border-radius: 100%;
      background-size: cover;
      background-position: center;
    }
  }

  .comment-inputs {

    input {
      all: unset;
      line-height: 100px;

    }

    .name-email-section {
      display: flex;
      flex-direction: row;
      width: 100%;

      input {
        line-height: 40px;
        border-bottom: 1px solid #979797;
      }

      #email-input {
        margin-left: 20px;
      }
    }

    .message-section {
      border-bottom: 1px solid #979797;
    }

    #submit-button {
      all: unset;
      border-radius: 23px;
      border: 1px solid #979797;
      box-sizing: border-box;
      justify-content: flex-end;
      margin-top: 20px;
      width: 14%;
      text-align: center;
      padding: 5px 0;
      margin-left: 81%;
    }
  }

}

.user-comment {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: flex-start;
  margin: 20px auto;

  p {
    margin: 3px auto;
  }

  .gravatar-box {
    margin-right: 10px;

    .gravatar {
      width: 70px;
      height: 70px;
      border-radius: 100%;
      border: 1px solid white;
      background-size: cover;
      background-position: center;
    }
  }

  .comment-text {
    margin-left: 10px;

    .comment-date, .flag-icon {
      color: #979797;
      margin-left: 10px;
      font-weight: lighter;
    }

    .flag-icon {
      font-size: smaller;
    }
  }
}

