<div class="wrapper">
  <!-- form -->
  <div class="form-container">
    <div class="gravatar-box">
      <ngx-avatar class="gravatar" name="name"></ngx-avatar>
    </div>
    <form #commentForm="ngForm" class="comment-inputs"
          (ngSubmit)="onCommentSubmit(commentForm.value); commentForm.reset()">
      <div class="name-email-section">
        <input type="text" id="username-input" name="username" required
               minlength="4" maxlength="20" placeholder="Name *" ngModel>
        <input type="text" id="email-input" name="email" required
               minlength="4" maxlength="40" placeholder="E-mail *" ngModel>
      </div>
      <div class="message-section">
          <textarea type="text" id="comment-input" name="comment" required
                    minlength="4" maxlength="1000" placeholder="Message *" ngModel></textarea>
      </div>
      <div class="button">
        <input id="submit-button" type="submit" value="Submit">
      </div>
    </form>
  </div>
  <!-- list of comments -->
  <div *ngFor="let c of entityComments">
    <div class="user-comment">
      <div class="gravatar-box">
        <ngx-avatar name="{{c.field_comment_name || c.field_comment_name_media}}"></ngx-avatar>
      </div>
      <div class="comment-text">
        <p style="font-weight:bold">{{c.field_comment_name || c.field_comment_name_media}}
          <span class="comment-date">{{c.created}}</span>
          <span class="flag-icon">
            <fa-icon [icon]="faFlag" (click)="Openpopup(entityComments.indexOf(c), c.cid)"></fa-icon>
          </span>
        </p>
        <p>
          {{c.comment_body}}
        </p>
      </div>
    </div>
</div>


  <div class="overlay" *ngIf="show">
    <div class="content">
      <div class="close">
        <fa-icon [icon]="faTimesCircle" (click)="Closepopup()"></fa-icon>
      </div>
      <h4>Report {{entityComments[index_cid[0]].field_comment_name || entityComments[index_cid[0]].field_comment_name_media}} comment</h4>
      <div>
        <input type="text" [(ngModel)]="field_reason" class="form-control" required
               minlength="4" maxlength="250" style="height:100px" placeholder="Reason*">
        <button class="report-button" (click)="addCommentReport()">Submit</button>
      </div>
    </div>
  </div>
</div>








