.user-comment {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: flex-start;
  margin: 20px auto;

  p {
    margin: 3px auto;
  }

  .gravatar-box {
    margin-right: 10px;

    .gravatar {
      width: 70px;
      height: 70px;
      border-radius: 100%;
      border: 1px solid white;
      background-size: cover;
      background-position: center;
    }
  }

  .comment-text {
    margin-left: 10px;

    .comment-date, .flag-icon {
      color: #979797;
      margin-left: 10px;
      font-weight: lighter;
    }

    .flag-icon {
      font-size: smaller;
    }
  }
}

