.wrapper {
  max-width: 80%;

  .form-container {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 30px;
    color: #979797;


    .gravatar-box {
      margin-right: 20px;

      .gravatar {
        width: 70px;
        height: 70px;
        border-radius: 100%;
        background-size: cover;
        background-position: center;
      }
    }

    .comment-inputs {
      width: 100%;

      input {
        all: unset;
        border-bottom: 1px solid whitesmoke;
      }

      .name-email-section {
        display: flex;
        flex-direction: row;
        width: 100%;
        line-height: 50px;


        #username-input, #email-input {
          width: 100%;
        }

        #email-input {
          margin-left: 20px;
        }
      }

      .message-section {
        margin-top: 30px;
        border-bottom: 1px solid whitesmoke;

        #comment-input {
          all: unset;
          width: 100%;
          word-wrap: break-word;
          box-sizing: border-box;
          height: 80px;
        }
      }

      .button {
        display: flex;
        justify-content: flex-end;

        #submit-button {
          flex: 1;
          bottom: 0;
          right: 100px;
          all: unset;
          border-radius: 23px;
          border: 1px solid whitesmoke;
          box-sizing: border-box;
          color: white;
          margin-top: 20px;
          text-align: center;
          padding: 5px 15px;
          font-size: 0.8rem;

          &:hover {
            cursor: pointer;
            background-color: whitesmoke;
            color: black;
          }
        }
      }
    }
  }

  .user-comment {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: flex-start;
    margin: 20px auto;

    p {
      margin: 3px auto;
    }

    .gravatar-box {
      margin-right: 10px;

      .gravatar {
        width: 70px;
        height: 70px;
        border-radius: 100%;
        border: 1px solid white;
        background-size: cover;
        background-position: center;
      }
    }

    .comment-text {
      margin-left: 10px;

      div {
        display: flex;

        .comment-date, .flag-icon {
          color: #979797;
          margin-left: 10px;
          font-weight: lighter;
        }

        .flag-icon {
          font-size: smaller;
          position: relative;

          fa-icon {
            cursor: pointer;
          }

          .overlay {
            width: 360px;
            background-color: #363535;
            border-radius: 20px;
            position: absolute;
            z-index: 1;
            top: -125px;
            left: 20px;


            .content {
              width: 360px;
              padding: 20px;

              h4 {
                margin: 0 10px 5px 0;
                color: #FFFFFF;
              }

              .close {
                position: absolute;
                top: 5px;
                right: 10px;
                color: #ffffff;
                font-size: large;
                cursor: pointer;
              }

              div {
                display: flex;

                input {
                  line-height: 50px;
                  border-bottom: 1px solid #979797;
                }

                .report-button {
                  all: unset;
                  border-radius: 23px;
                  border: 1px solid #ffffff;
                  margin: 30px 10px;
                  padding: 5px;
                  background-color: #262525;
                  color: #FFFFFF;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }
  }

  p.nocomment {
    text-align: center;
    color: whitesmoke;
  }

  .report-message {
    margin: -5px 150px;
  }

}





