<div class="comments-container">
  <h3>Comments</h3>

  <div class="comment-box">
    <div class="gravatar-box">
      <div class="gravatar"
           style="background-image: url('https://img.favpng.com/16/11/7/gravatar-computer-icons-blog-png-favpng-Jr68yZHtrGj5dSUqHSXaJDQ4f.jpg');">
      </div>
    </div>
    <div class="inputs">
      <input type="text" id="username-input" name="name" required
             minlength="4" maxlength="20" placeholder="Name">
      <input type="text" id="email-input" name="name" required
             minlength="4" maxlength="40" placeholder="E-mail">
      <input type="text" id="comment-input" name="name" required
             minlength="4" maxlength="200" placeholder="Message">
    </div>
  </div>
  <button type="button">Submit</button>


  <div class="user-comment">
    <div class="gravatar-box">
      <div class="gravatar"
           style="background-image: url('https://img1.gratispng.com/20180408/edw/kisspng-user-computer-icons-gravatar-blog-happy-woman-5aca6d038826d9.7357010215232156195577.jpg');">
      </div>
    </div>
    <div class="comment-text">
      <p style="font-weight:bold">Fernando <span style="color:#979797">55 min ago</span></p>
      <p>
        Sed blandit est ut tempor consectetur. Vestibulum sollicitudin ex ac metus lobortis, in scelerisque augue
        fringilla. Curabitur eget tortor in sem sodales sodales. Donec sit amet efficitur quam. Ut quis condimentum
        dolor.
      </p>
    </div>
  </div>


</div>
